[user]
	name = Jaime Loeuf
	email = jaimeloeuf@gmail.com
[core]
	# I am using Visual Studio code as my default git editor
	editor = code --wait
    # Use a global gitignore file in the root user directory
    excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
    # Simple shorthand abbrevations.
	s = status
    a = add
	ci = commit
    b = branch
	d = diff
    co = checkout

    # Alias for diff related operations below
    # Diff of staged files
	ds = diff --staged
    # Difference between current branch and master
    dm = diff master
    # Diff to see files that have changed between 2 branches
    # Use with 2 branches, e.g. "git df development...master", shows files that are different from development & master
    df = diff --name-status

	# Allow you to add all local changes to the staging area
	all = add .
	# Display the last commit log from HEAD
	last = log -1 HEAD
	# Allows you to unstage a file using 'git unstage file_name'
	unstage = reset HEAD --
	# Abbrev. for deleting a branch
	delete = branch -d
    # Delete last commit but keep changes
    uncommit = reset HEAD^1
[push]
    # Always push tags together when pushing commits to remote repo.
	followTags = true
