[user]
	name = Jaime Loeuf
	email = jaimeloeuf@gmail.com
[core]
	# I am using Visual Studio code as my default git editor
	editor = code --wait
    # Use a global gitignore file in the root user directory
    # Only use this option if you have a global gitignore file
    excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
	s = status
	# Display the last commit log from HEAD
	last = log -1 HEAD
    # Abbrev. for git add
    a = add
	# Allow you to add all local changes to the staging area
	all = add .
   	# Abbrev. for commits
	comit = commit
	ci = commit
	# Allows you to unstage a file using 'git unstage file_name'
	unstage = reset HEAD --
	# Abbrev. for branch
	b = branch
	# Abbrev. for deleting a branch
	delete = branch -d
	# Abbrev. for checking out a version
	co = checkout
    # Abbrev. for calling git diff
	d = diff
    # Abbrev. for git diff --staged
	ds = diff --staged